
/* En CSS existen 3 formas de selectores:
  Seleccionar por CLASE: (En html <tag class="nombredelaclase"></tag>  en css .nombredelaclase {} ). Ejemplo titulo 1
  Seleccionar por ID: (En html <tag id="nombredelaID"></tag>  en css #nombredelaID {} ). Ejemplo Texto 1
  Seleccionar por combinacion: (En css h2.titulos { color: orange,}) 
  
  h2 { }
  h2.clase { }
  .clase { }
  #id { }
  
  */ 

h1 {
    text-decoration: underline;
    border: 1px solid red;
}
h2 {
    color:dodgerblue;
}
p {
    color: dodgerblue;
}
h2.titulos {
    color: purple;
}
#textazo {
    font-size: 88px;
}