
h1 {
    text-decoration: underline;   /* Encabezado H1. Subrayado. Con borde rojo. Regla aplica para todos los encabezados h1. 
                                    Como no se especifica color de texto, toma por default el negro */
    border: 1px solid red;}
p {
    color: dodgerblue;}   /* Parrafo. Color azul. Regla aplica para todos los parrafos p */
h2 {
    color:rgb(236, 104, 16);}  /* Encabezado h2. Naranja. Regla aplica a todos los encabezados h2 */
h2.titulos {
    color: purple;}    /* Encabezado h2. Morado. Regla aplica SOLO a los encabezados h2 que tengan la clase "titulos" */
#textazo {
    font-size: 50px;}  /* Parrafo con ID textazo. Tomara las caracteristicas asignadas. En este caso solo se asigno el tamaño,
                        por lo que el color sera el mismo que el asignado para parrafo (azul) */

section:last-child{ 
    color: rgb(85, 29, 214);} /* En CSS existen tambien pseudo-clases, que afectan a elementos especificos  por ejemplo: first-child, last child, etc 
    */

/* BORDERS */

  .caja-bordes {
      padding: 10px;
      margin: 50px;
      height: 200px;
      width: 200px;
    background-color: rgb(255, 231, 74); 

    /*  Los bordes pueden ser  de 3 tipos: solid, dotted o dashed. El atributo width es para el grosor y se asigna en orden de las agujas del reloj   */
    border: 10px dotted red;  
    border-right: dashed green;
    border-width: 10px 25px 5px 3px ;  
    border-radius: 10px; /* El border radius le da una redondez a las esquinas hasta el punto de dejar la imagen redonda  */
    }

/* SOMBRAS */
.caja-sombras{
    padding: 10px; 
    margin: 50px; 
    height: 200px;
    width: 200px;
    background-color: rgb(114, 194, 214);
    box-shadow: 15px 15px gray;
}
/* Los parametros o medidas que se dan corresponden a: eje X - eje Y - Concentracion - Color de shadow.
  box-shadow: 15px 15px 20px gray  crearia una sombra difuminada porque el 3er elemento de concentracion tiene un valor asignado */
/* El sombreado se origina generalmente a la derecha y abajo. Para otro tipo de efecto que cubra toda la base, se puede usar
 box-shadow: 0 0 30px gray     de esta forma queda mucho mas difuminado por todo debajo
*/
 .caja-sombras h2{
     padding: 10px;
     color: rgb(248, 252, 251); 
     text-shadow: 5px 5px 8px black; /*Se puede experimentar con una sombra mas sutil sustituyendo el color por rgba (0, 0, 0, 0.3)*/
    }

 /* ESPACIOS: MARGIN, BORDER, PADDING, CONTENT  */ 
 /* Existen 4 propiedades referente a espacios:

   - Margin      Espacio entre la pagina total y el sig. elemento que seria un borde. Espacio EXTERNO del contenido 
                 Entre un elemento y otro los margenes colapsan (solo se toma en cuenta 1)
                 La mayoria de los navegadores lo incluyen por defecto, dandole 16px por default.
                 Se indica el espacio en pixeles  4, 3, 2, 1 valores en orden reloj
   - Border      Es el siguiente elemento despues del margen. Se toma en cuenta como parte del contenido INTERNO.
                 Se indica el grosor en pixeles. El color. El tipo de borde.
   - Padding     Corresponde al espacio entre el borde y el contenido en si. Se toma en cuenta como parte del contenido INTERNO.
                 Se indica el espacio en pixeles. 4, 3, 2, 1 valores en orden reloj
   - Size        Es el contenido en si. Solo se modifica por height and width.

  Recomendado usa selector universal en css para estandarizar todos los elementos tipo caja para que tengan estas caracteristicas, incluyendo pseudoelementos.
  En .css al principio:  
    *, *::after, *::before{
      box-sizing: border-box;
    }. 

    */   
.espacios p{
    border: 6px solid red;
    padding: 20px;
}

/* OVERFLOW */
.contenedor-overflow-1{
    margin: 40px;
    height: 150px;
    width: 150px;
    background-color: blueviolet;
}
.contenedor-overflow-2{
    margin: 80px;
    height: 150px;
    width: 150px;
    background-color: tomato;
    overflow:auto;
}


/* POSICIONES */
.contenedor-posicion{
height: 80vh;
width: 80vw;
border: 5px solid gray;
margin: auto;
}
.cajaposicion{
    height: 5rem;
    width: 5rem;
    margin: 1rem;
}
.caja-posi1{
    background-color: greenyellow;
}
.caja-posi2{
    background-color: rgb(16, 18, 167);
   /* La posicion por defecto es estatica. Los elementos aparecen en el orden dado en el html.
    Si se agrega la etiqueta position, se puede seleccionar que sea relativa hacia otros elementos o posiciones. */
    position: relative;
    left: 5rem; /* Esto indico que la caja -posi2 se apartara 5 unidades de la izquierda. Tambien se pueden usar valores negativos */
}
.caja-posi3{
    background-color: rgb(233, 10, 65);
}